body section{
    background-color: #8CE3AA;
    color: #ffffff;
}

section h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 39px;
    font-style: italic;
    }

section h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    }

section p{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.carousel {
    height: 20%;
    padding: auto;
}

.carousel img {
    width: auto;
    height: 450px;
}

.tablaTalles{
   width: 100%;
   height: 100px; 
   box-sizing: border-box;
   border: solid 3px #8CE3AA;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8c8cfd;
}

.pie {
    width: 100%;
    height: 5%;
}